/* You can add global styles to this file, and also import other style files */
//@import "./fonts.scss";

* {
  font-family: 'calibri' !important;
  user-select: none;
}
.simplebar-scrollbar::before {
  background-color: #0084cc !important;
  opacity: .9 !important;
}

ngx-simplebar {
  outline: none;
}
ngx-simplebar * {
  outline: none;
}
img {
  -webkit-user-drag: none !important;
  user-select: none !important;
}


/*##### ChatBro #####*/
.chatbro_chat.chatbro_opacity {
  position: fixed !important;
  inset: auto 16px 12px auto !important;
  border-radius: 6px !important;
  overflow: hidden !important;
}
td.chatbro_header_caption_td {
  cursor: default !important;
}