<ngx-simplebar [options]="optionScroll" id="movies-page">
    <div class="listMovies">
        <fast-toolbar>
            <h3 slot="start">LISTA DE PELICULAS</h3>
        </fast-toolbar>
        <fast-progress class="loading" *ngIf="!dataLoading"></fast-progress>
        <div class="error" *ngIf="showError">
            <img src="./assets/net_error.svg">
            <div class="title">
                <h2>Ocurrió un error al cargar :(</h2>
                <fast-button (click)="reloadData()" appearance="accent">Reintentar</fast-button>
            </div>
        </div>
        <ul *ngIf="dataLoading">
            <li *ngFor="let itemList of listEmision">
                <items-list
                    [title]="itemList.title"
                    [image]="itemList.image"
                    type="{{itemList.type}}"
                    [url]="itemList.url"
                    (click)="openInfoAnime(itemList.url)"
                ></items-list>
            </li>
        </ul>
        <fast-progress class="loading" *ngIf="moreDataLoading"></fast-progress>
        <div id="buttonMoreAnimes" class="buttonMore" *ngIf="showButtonMore">
            <fast-button (click)="reloadMoreData()" appearance="accent">Cargar más</fast-button>
        </div>
    </div>
</ngx-simplebar>